<div class="timer-container">
  <div class="empty-block"></div>
  <h2>Timer for Assessment</h2>
  <div class="actual-timer">
    <span>{{hours}} Hours : {{minutes}} Minutes : {{seconds}} Seconds</span>
    <button (click)="startTimer()">Start Timer</button>
    <button (click)="pauseTimer()">Pause Timer</button>
  </div>
  <div class="empty-block"></div>
</div>

<style>
  .timer-container {
    background-color: magenta;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .empty-block{
    height:400px;
  }
  .actual-timer{
    display: flex;
    flex-direction: column;
  }
</style>